# App
NEXT_PUBLIC_APP_NAME="Immo Backoffice"

# API branchees plus tard
NEXT_PUBLIC_IMMO_API_URL=""
IMMO_API_KEY=""

# Supabase / Auth / autres services plus tard
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
